##### COMMON
alias l="ls -l"
alias ll="clear && ls -lha"

###### GIT
alias gt="git status"
alias gstaged="git diff --cached"
alias gadded="git diff --cached"
alias gstashlist="git stash list | cat"
alias gb="git branch"
alias gball='git branch --list -r'
alias gbprune='git remote prune'
alias gpullmaster="git pull origin master"
alias gdiff="git diff"
alias gadd="git add -p"
alias ga="git add"
alias gck="git checkout"
alias gpush="git push origin"
alias gc="git commit -m "
alias gpull="git pull origin"
alias greset="git reset"
alias gr='git reset'
alias gpop="git stash pop"
alias gstash="git stash"
alias grhead="git reset HEAD "
alias gshow="git show"
alias gm="git merge"

showstash(){
  git stash show -p stash@{$1}
}

applystash(){
  git stash apply stash@{$1}
}

dropstash(){
  git stash drop stash@{$1}
}

###### VAGRANT

alias vh="vagrant halt"
alias vu="vagrant up"
alias vgs="vagrant global-status"
alias ssh-vagrant="vagrant ssh"

###### PHP LARAVEL
alias art="php artisan"
alias artisan="php artisan"
alias artisan-cc="php artisan optimize && php artisan clear-compiled"

###### PHPUnit
alias p="phpunit"
alias pf="p --filter "
alias pls="p --testdox"
alias pps="p --stop-on-failure"

###### DOCKER
alias d="docker "
alias dps='docker ps'
alias dpsa='docker ps -a'
alias dimg='docker images'
