
##### COMMON
alias l="ls -l"
alias ll="clear && ls -lha"

###### GIT
alias gt="git status"
alias gstaged="git diff --cached"
alias gadded="git diff --cached"
alias gstashlist="git stash list | cat"
alias gbranch="git branch"
alias gpullmaster="git pull origin master"
alias gdiff="git diff"
alias gadd="git add -p"
alias ga="git add"
alias gcheckout="git checkout"
alias gc="git checkout"
alias gpush="git push"
alias gcommit="git commit -m "
alias gpull="git pull"
alias greset="git reset"
alias gpop="git stash pop"
alias gstash="git stash"
alias gunstage="git reset HEAD "

showstash(){
  git stash show -p stash@{$1}
}

applystash(){
  git stash apply stash@{$1}
}

dropstash(){
  git stash drop stash@{$1}
}

###### VAGRANT

alias vh="vagrant halt"
alias vu="vagrant up"
alias vgs="vagrant global-status"
alias vssh="vagrant ssh"

###### PHP LARAVEL
alias art="php artisan"
alias artisan="php artisan"
alias artisan-cc="php artisan optimize && php artisan clear-compiled"

##### PHPUnit
alias p="phpunit"
alias pu="p"
alias pf="p --filter "
alias pls="p --testdox"
