[user]
	name = Bruno Pereira
	email = bruno9pereira@gmail.com
[core]
	editor = vim
    excludesfile = /Users/brnbp/.gitignore_global
[pull]
    rebase = true
[push]
	default = matching
[init]
    templatedir = ~/.git_template
